input[type="button"] {
	border: none;
	background: none;
	box-shadow: none;
	font-size: 18px;
}

body {
	margin: 10px;
	font-display: swap;
}

input {
	margin: 3px;
}

table {
	width: 100%;
}

table th {
	background-color: #1b4885;
	color: ghostwhite;
	border-bottom: black solid 4px;
}

#load {
	text-align: center;
}

table tr:nth-child(odd) {
	background-color: #eee;
}

table tr:nth-child(even) {
	background-color: #fff;
}

table tbody {
	border: black 2.5px solid;
}

table td,
table th {
	padding: 7.5px;
}
